
<div class="container">

    <div class="myhead col-sm-8 col-sm-offset-2">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
    </div>

    <div class="mybody col-sm-8 col-sm-offset-2">
        <form ng-submit="login(user)">
            <div class="col-sm-6 col-sm-offset-3">
                &nbsp;&nbsp;
                &nbsp;&nbsp;
                <img src="/img/login_logo.png" class="center" />
            </div>
            
            <div class="form-group col-sm-6 col-sm-offset-3">

                <input type="text" class="mytext" id="email" placeholder="User Name" ng-model="user.username">
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3"> 

                <input type="password" class="mytext" id="pwd" placeholder="Enter password" ng-model="user.password">
            </div>

            <div class="form-group col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn button1 btn-block">Login</button>

                <span class="pull-left u"><a href="#">forgot password?</a></span>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                &nbsp;&nbsp;
            </div>
        </form>
               <div class="col-sm-6 col-sm-offset-3">
                <button ng-click="register()" class="btn button2 btn-block btn-warning">Register</button>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                &nbsp;&nbsp;
            </div>
        </div>

    </div>
